<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="full-hero hero-home">

      <h1>I'm an h1</h1>

      <ul class="social-list">
        <li>
          <a href="https://example.com/"
             class="social-link">Fb</a>
        </li>
        <li>
          <a href="https://example.com/"
             class="social-link">Tw</a>
        </li>
        <li>
          <a href="https://example.com/"
             class="social-link">Gh</a>
        </li>
      </ul>

    </div>
    <h1>Her Story</h1>
    <p>
      <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, <em>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <a href="#">sunt in culpa qui officia deserunt</a> mollit anim id est laborum.
    </p>

    <h2>About HTML</h2>

    <p>HTML was created by the original "web developer", computer scientist
      <a href="https://en.wikipedia.org/wiki/Tim_Berners-Lee">Tim
      Berners-Lee</a>. It's not true that Sir Tim invented HTML in order to
      share pictures of his cat, but it would be cool if it were.</p>
      <img src="images/kitten.jpg" alt="An adorable kitten">

    <h2>Quotations</h2>

    <p>
      In addition to hosting most of the world's supply of kitten videos, the
      Web is also full of inspiring quotes, perhaps none more so than this one:
    </p>

    <blockquote style="padding: 2px 20px; background: #f4f4f4;">
      <p>
        <em>Don't believe every quote you read on the Internet.</em>
        <br>
        —Abraham Lincoln
      </p>
    </blockquote>


    <h2 id="founders">Founders</h2>
    <div class="bio-wrapper">
      <div class="bio-box">
        <img src="https://secure.gravatar.com/avatar/03fa451d60dd9bf0ea7264e27438d3c3/?s=500" alt="Masaaki">
        <h3>Masaaki Furuki</h3>
        <div class="bio-copy">
          <a href="https://www.twitter.com/masaakifuruki" class="social-link">Tw</a>
          <p>A hacker with purpose. 👩🏻‍💻🏡 I care about equality, sustainability, and public safety. I’m Sagittarius ♐💔¯\_(ツ)_/¯</p>
        </div>

      </div>

      <div class="bio-box">
        <img src="https://secure.gravatar.com/avatar/03fa451d60dd9bf0ea7264e27438d3c3/?s=500" alt="Masaaki">
        <h3>Diana Prince</h3>
        <div class="bio-copy">
          <a href="https://www.twitter.com/masaakifuruki" class="social-link">Tw</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <a href="#">sunt in culpa qui officia</a> deserunt mollit anim id est laborum.</p>
        </div>


      </div>

      <div class="bio-box">
        <img src="https://secure.gravatar.com/avatar/03fa451d60dd9bf0ea7264e27438d3c3/?s=500" alt="Masaaki">
        <h3>Kara Danvers</h3>
        <div class="bio-copy">
          <a href="https://www.twitter.com/masaakifuruki" class="social-link">Tw</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <a href="#">sunt in culpa qui officia</a> deserunt mollit anim id est laborum.</p>
        </div>

      </div>
    </div>
    <p>
      Learn Enough to Be Dangerous is a leader in the movement to teach the
      world <em>technical sophistication</em>, which includes both "hard
      skills" like coding, command lines, and version control, and "soft
       skills" like guessing keyboard shortcuts, Googling error messages, and
      knowing when to just reboot the darn thing.
    </p>
    <p>
      We believe there are <strong>at least a billion people</strong> who can
      benefit from learning technical sophistication, probably more. To join
      our movement,
      <a href="https://learnenough.com/#email_list">sign up for our official
      email list</a> now.
    </p>
    <h3>Background</h3>
    <p>
      Learn Enough to Be Dangerous is an outgrowth of the
      <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> and the
      <a href="https://www.softcover.io/">Softcover publishing platform</a>.
      This page is part of the sample site for
      <a href="https://learnenough.com/css-tutorial"><em>Learn Enough CSS and
      Layout to Be Dangerous</em></a>, which teaches the basics of
      <strong>C</strong>ascading <strong>S</strong>tyle
      <strong>S</strong>heets, the language that allows web pages to be styled.
      Other related tutorials can be found at
      <a href="https://learnenough.com/">learnenough.com</a>.
    </p>
    {% include footer.html %}
  </body>
</html>
